:root{
    --flood-logo-height:clamp(100px, 19vw, 330px);
}

#flood-header {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--main-bg-color)), url("/res/imgs/flood_snapshot.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 0,0;
    overflow: hidden;
}
.description {
    font-size : 20px;
    color: var(--text-color);
    width: 80%;
    max-width:1000px;
    justify-content:center;
    margin-top: 100px;
    margin-left:10vw;
}

.page-project-tags{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width:auto;
    float:right;
    translate: -17vw -13vw;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to bottom, #243969ff, #11111150);
    border-radius: 15px;
}

@media (width < 750px)
{
    .page-project-tags{
        display: flex;
        float: left;
        translate:10vw -30px;
        height: 30px; 
    }

    .project-tag{
        height: 40px;
    }   
}

#flood-logo-title{
    display: flex;
    flex-direction: line;
    height:var(--flood-logo-height);
}
.flood-title-text{
    translate:calc(var(--flood-logo-height)*-0.43) calc(var(--flood-logo-height)*0.125);
}

#orcawaga-logo-title{
    display: flex;
    flex-direction: line;
    height:clamp(200px, 19vw, 300px);
}
#orcawaga-header {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--main-bg-color)), url("/res/imgs/orcawaga_snapshot.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 0,0;
    overflow: hidden;
}

.orbitaldecay-title-text{
    font-size: clamp(52px, 4vw, 175px);
    translate:0 calc(var(--flood-logo-height)*0.225);
}

#orbitaldecay-logo-title{
    display: flex;
    flex-direction: line;
    height:clamp(200px, 19vw, 300px);
}

#orbitaldecay-header {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--main-bg-color)), url("/res/imgs/orbitaldecay_snapshot.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 0,0;
    overflow: hidden;
}

#proskynitis-logo-title{
    display: flex;
    flex-direction: line;
    height:clamp(10px, 8vw, 50px);
}

#proskynitis-page-tags{
    translate:-17vw calc(-8vw + 20px);
}

@media (width < 750px)
{
    #proskynitis-page-tags{
        translate:10vw -30px;
    }
}

#proskynitis-header {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--main-bg-color)), url("/res/imgs/proskynitis_snapshot.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 0,0;
    overflow: hidden;
}