#flood-header {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--main-bg-color)), url("/res/imgs/flood_snapshot.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 0,0;
    overflow: hidden;
}

#flood-logo-title{
    display: flex;
    height:var(--flood-logo-height);
}

#flood-logo-title::after{
    content:"lood";
    font-size: clamp(80px, 10vw, 175px);
    margin-left: calc(var(--flood-logo-height) * -0.44);
    margin-top: calc(var(--flood-logo-height) * 0.12);
}

#editor{
    margin-top: 30px;
}

#editor-text{
    width: 48%;
}

#aside-flood1{
    width: 50%;
    align-content: center;
    height: auto;
    margin-left: auto;
    margin-right: 0px;
    border-radius: 0px;
}

#detail{
    margin-top: 50px;
}

#ECS{
    float:left;
}

#ECS-UML{
    margin-left: auto;
    margin-right: auto;
    float:none;
    display:block;
    border-radius: 15px;
}

#OOP{
    margin-top:15px;
}
#OOP-text{
    width:55%;
}
#OOP-illu{
    width:40%;
    margin-left:5%;
    border-radius: 0px;
}

#CBP-illu{
    width:40%;
    border-radius: 0px;
}
#CBP-text{
    width:55%;
    margin-left:5%;
}

#ECS-UML-text-2{
    margin-top:15px;
}

#ECS-UML-text-3{
    margin-top:15px;
}

#ECS-UML{
    margin-top:25px;
    width: 100%;
    border-radius: 0px;
}

#OGL-buffer{
    margin-top:15px;
}
#OGL-buffer-text{
    width:50%;
}
#OGL-buffer-illu{
    width:45%;
    margin-left: 5%;
}
#event-system{
    margin-top:15px;
}
#event-system-text{
    width:45%;
}
#event-system-illu{
    width:50%;
    margin-left:5%;
}

#batching{
    margin-top:15px;
}
#batching-text{
    width:50%;
}
#batching-illu{
    width:45%;
    margin-left:5%;
}

#panels-illus{
    margin-top:25px;
}
#hierarchy-panel{
    width:47.5%;
}
#inspector-panel{
    width:47.5%;
    margin-left:5%;
}

@media (width < 1200px){
    #aside-flood1{
        float: none;
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 25px;
    }
    #editor-text{
        width: 100%;
    }
    #editor-p1{
        display:inline-block; 
        align-items:none;
    }

    #aside-flood1-img{
        width:0vw;
        height:auto;
        max-height: none;
        min-height: none;
    }
    #OOP, #CBP, #panels-illus, #batching, #OGL-buffer, #event-system{
        display: inline-block;
    }
    #OOP-text, #CBP-text, #batching-text, #OGL-buffer-text, #event-system-text
    {
        width:100%;
        margin: 20px 0px 20px 0px;
    }
    #OOP-illu, #CBP-illu, #batching-illu, #OGL-buffer-illu, #event-system-illu,
    #hierarchy-panel, #inspector-panel{
        
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

