.orbitaldecay-title-text{
    font-size: clamp(52px, 4vw, 175px);
    translate:0 calc(var(--flood-logo-height)*0.225);
}

#orbitaldecay-logo-title{
    display: flex;
    flex-direction: line;
    height:clamp(200px, 19vw, 300px);
}

#orbitaldecay-header {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--main-bg-color)), url("/res/imgs/orbitaldecay_snapshot.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 0,0;
    overflow: hidden;
}